<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-med-bold h3">
        <a tooltip="Back" title="Back" class="btn btn-sm btn-default w-xxs m-r-sm left" onclick="window.history.back();" >
            <i class="fa fa-long-arrow-left"></i>
        </a> Note Detail</h1>
</div>
<div class="wrapper-md">
    <div ng-controller="note_detail_ctrl" >
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default" style="margin-bottom: 0">
                        <div class="modal-header service_tab_forms_header">
                            <span class="h4" >Note : {{note.text}}</span>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

 

